<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Joseph Lombrozo's Resume</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js"></script>
		<!--<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>-->
		<script type="text/javascript" src="jquery.tmpl.js"></script>
		<script type="text/javascript" src="jquery.json2xml.js"></script>
		<script type="text/javascript" src="resume.js"></script>
		<link type="text/css" rel="Stylesheet" href="resume.css" />
	</head>
	<body>
		<script id="text" class="resume-template" type="text/x-jquery-tmpl">
			<pre>
${developer.name}
${developer.city}, ${developer.state}
{{each contact}}
${method}: {{if method == 'linkedin'}}linkedin.com/in/${value}{{else}}${value}{{/if}}{{/each}}

${preamble.title.toUpperCase()}
${preamble.content}

AREAS OF EXPERTISE{{each expertise}}
  * ${this}{{/each}}

SKILL HIGHLIGHTS{{each catalog}}
  ${name.toUpperCase()}: {{each skills}}{{if !(typeof hidden == 'undefined' ? false : hidden)}}{{if $index > 0}} | {{/if}}${name}{{/if}}{{/each}}{{/each}}

{{each experienceTypes}}${name.toUpperCase()}
{{each experiences}}
  ${company.toUpperCase()} {{if timespan}}(${timespan}){{/if}}{{if locale}} ${locale}{{/if}}
{{if description}}  ${description}{{/if}}
{{each positions}}  ${title}{{if details}}
    ${details}{{/if}}
{{each accomplishments}}    * ${this}
{{/each}}{{/each}}{{/each}}
{{/each}}
			</pre>
		</script>
		<script id="html" class="resume-template" type="text/x-jquery-tmpl">
			<div class="header section">
				<ul class="contact-info">
				{{each contact}}
					<li>
						<span class="method">
							{{if title}}
								${title}
							{{else}}
								${method}
							{{/if}}
						</span>

						<span class="value">
						{{if method == "email"}}
							<a href="mailto:${value}">${value}</a>
						{{else method == "gtalk"}}
							<a href="gtalk:chat?jid=${value}">${value}</a>
						{{else method == "skype"}}
							${value} <span class="skype-commands">(<a href="skype:${value}?call">call</a> or <a href="skype:${value}?chat">chat</a>)</span>
						{{else}}
							${value}
						{{/if}}
						</span>
					</li>
				{{/each}}
				</ul>

				<ul class="links">
					{{each links}}
						<li><a href="${href}" target="_blank">${title}</a></li>
					{{/each}}
							
				</ul>

				<ul class="basic-info">
					<li class="name">${developer.name}</li>
					<li class="location">${developer.city}, ${developer.state}</li>
				</ul>
			</div>

			<div class="preamble section">
				<h1>${preamble.title}</h1>
				<p>{{html preamble.content}}</p>

				<h1>Areas of Expertise</h1>
				<ul id="important-accomplishments">
				{{each expertise}}
					<li>${this}</li>
				{{/each}}
				</ul>
			</div>

			<div class="skills-container section">
				<h1>Skill Highlights</h1>
				{{each catalog}}
					<div class="skills-category ${this.hidden ? 'deprecated' : ''}">
						<h2>${name}</h2>
						<ul>
						{{each skills}}
							<li class="skill-define ${key} ${this.important ? 'important' : ''} ${this.hidden ? 'deprecated' : ''}" skill-key="${key}">
							{{if href}}
								<a href="${href}" target="_blank">${name}</a>
							{{else}}
								${name}
							{{/if}}
							</li>
						{{/each}}
						</ul>
					</div>
				{{/each}}
			</div>

			<div class="experiences section">
			{{each experienceTypes}}
				<h1>${name}</h1>
				{{each experiences}}
					<div class="${type} experience">
						<h3><span class="company">${company}</span>{{if timespan}}<span class="timespan">${timespan}</span>{{/if}}</h3>
						<div class="company-details">
							{{if locale}}<span class="locale">${locale}</span>{{/if}}
						</div>
						<p class="description">${description}</p>

						{{each positions}}
						<div class="position-info">
							<span class="title">${title} {{if categories}}<a class="toggle-skills" href="javascript:void(0)">skills used</a>{{/if}}</span>
							<div class="skills-used-container curved">
								<div class="close-command">[<a href="javascript:void(0)">x</a>]</div>
								{{each categories}}
									<div class="skills-category">
										<h2>${name}</h2>
										<ul class="skills-used">
											{{each skills}}
											<li class="skill-use ${key}" skill-key="${key}">${name}</li>
											{{/each}}
										</ul>
									</div>
								{{/each}}
							</div>
							<p class="description">${details}</p>
							<ul class="accomplishments">
							{{each accomplishments}}
								<li>${this}</li>
							{{/each}}
							</ul>
						</div>
						{{/each}}
					</div>
				{{/each}}
			{{/each}}
			</div>
		</script>
		<span id="status">Loading ... </span>
		<div id="header">
			Alternate formats: 
			<ul>
				<li><a template-name="html">html</a></li>
				<li><a href="resume.pdf">pdf</a></li>
				<li><a template-name="text">txt</a></li>
				<li><a href="resume.json">json</a></li>
				<li><a template-name="xml" href="javscript:void(0)">xml</a></li>
			</ul>

			<a class="readme" href="README.txt">README</a>
		</div>
		<div id="content" class="curved"></div>
		<div id="footer">
			Designed and coded by Joseph Lombrozo, &copy; 2011
		</div>
	</body>
</html>