* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-size: 14px;
}
body {
	margin: 0 1em;
	color: White;
	background-color: Black;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	margin: .5em 0;
}
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ 
	/* width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
ul {
	list-style-type: none;
}
a, a:header, a:link, a:visited {
	color: #5BC2EB;
}

#header {
	padding-bottom: 1em;
}
#header ul, #header ul li {
	display: inline;
}
#header a, #header a:visited, #header a:link {
	color: #2BF0EC;
}
#header .readme {
	float: right;
}
#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: White;
	color: Black;
	margin: 0 auto;
	padding: 1em;
}
#footer {
	clear: both;
}
#status {
	float: right;
	padding: .5em;
}
#content {
	width: 60em;
}
.section {
	clear: both;
	margin-bottom: 1em;
}
.curved {
	border: solid thin black;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
p.description {
	margin-left: 2em;
}

.basic-info {
	float: left;
}
.contact-info {
	float: right;
	width: 20em;
}
.contact-info .method {
	clear: left;
	display: block;
	float: left;
	padding-right: .5em;
	text-align: right;
	width: 5em;
}
.contact-info .value {
	clear: right;
	display: block;
	float: left;
	text-align: left;
}
.preamble {
}
.preamble h2 {
	clear: both;
}
.preamble ul {
	list-style-type: circle;
	height: 5em; /* hack: couldn't figure out how to get the ul to have a height AND let <li /> elements float */
}
.preamble ul li {
	width: 26em;
	margin-left: 2em;
	float: left;
}
.skills-container h2 {
	clear: left;
	display: block;
	float: left;
	text-align: left;
	width: 10em;

	font-size: 1em;
}
.skills-container a {
	color: Black;
}
.skills-container .toggle-skills-catalog {
	float: right;
}
.skills-container .skills-category {
	padding-right: 1em;
}
.skills-container .skills-category * {
	display: inline;
	line-height: 1.2em;
}
.skills-container .skills-category .skill-define {
	margin-right: .5em;
}
.skills-container .skills-category .skill-define.deprecated, .skills-container .skills-category .skill-define.deprecated a:link, .skills-container .skills-category .skill-define.deprecated a:visited {
	/* color: #AAA; */
	display: none;
}
/*.skills-container .skills-category .skill-define.important {
	background-image: url(smooth-star.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 1em;
}*/
.skill-highlight {
	background-color: #F7EDC1;
}
.experiences {
}
.experiences .experience:last-child {
	margin-bottom: 0;
}
.experiences .experience h3 {
	line-height: 1.5em;
}
.experiences .experience .company {
	font-weight: bold;
	font-size: 1.1em;
}
.experiences .experience .company-details {
	font-size: .7em;
}
.experiences .experience .timespan {
	float: right;
}
.experiences .experience .position-info {
	padding-bottom: 1em;
}
.experiences .experience .position-info .accomplishments {
	margin-left: 2em;
}
.experiences .experience .toggle-skills {
	text-decoration: none;
	border-bottom: 1px blue dashed;
	font-size: .8em;
	float: right;
}
.experiences .accomplishments li {
	list-style-type: disc;
	margin-left: 2em;
}
.skills-used-container {
	position: absolute;
	display: none;
	background-color: #EFE4B0;
	padding: 0.5em;
	z-index: 100;
}
.skills-used-container h2 {
	display: inline;
}
.skills-used-container ul {
	display: inline;
}
.skills-used-container ul li {
	border-left: 3px solid black;
	padding: 0 .5em;
	display: inline;
}
.skills-used-container ul li:first-child {
	border-left: 0;
}
.show-skills .skills-used-container {
	display: block;
}

@media print {
	body {
		color: White;
	}
	#footer, #header, .toggle-skills, .skype-commands {
		display: none;
	}
	a {
		text-decoration: none;
		color: Black;
	}
	a.deprecated {
		display: none;
	}
	.experiences {
		float: none;
		width: 100%;
	}
	.experience {
		page-break-inside: avoid;
	}
	.curved {
		border: 0;
	}
}
