* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-size: 14px;
}
body { 
	margin: 0 1em;
}
h1 {
	text-align: center;
	margin-bottom: .5em;
}
p {
	margin: 1em 0;
}
pre .wrap {
	white-space: pre-wrap;
}
ul {
	list-style-type: none;
}

#header {
	padding-bottom: 1em;
}
#header ul, #header ul li {
	display: inline;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}
#footer, #push {
	height: 20px;
}
#footer {
	clear: both;
}
#status {
	float: right;
	padding: .5em;
}
#content {
	width: 60em;
}
.section {
	clear: both;
}
.curved {
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}

.basic-info {
	float: left;
}
.contact-info {
	float: right;
	width: 20em;
}
.contact-info .method {
	clear: left;
	display: block;
	float: left;
	padding-right: .5em;
	text-align: right;
	width: 5em;
}
.contact-info .value {
	clear: right;
	display: block;
	float: left;
	text-align: left;
}
.preamble {
	margin-bottom: 1em;
}
.skills-container {
	border: solid thin black;
	padding: 1em;
	
	display: block;
	width: 15em;
	float: right;
}
.skills-container .toggle-skills-catalog {
	float: right;
}
.skills-container .skills-category {
	float: left;
	padding-right: 1em;
}

.skill-highlight {
	background-color: #EFEB4B !important;
}
.experiences {
	border: solid thin black;
	clear: left;
	float: left;
	padding: 1em;
	width: 40em;
}
.experiences h2 {
	text-align: center;
}
.experiences .experience {
	margin-bottom: 2em;
}
.experiences .experience:last-child {
	margin-bottom: 0;
}
.experiences .experience .title {
	font-weight: bold;
	font-size: 1.5em;
}
.experiences .experience .company {
	font-style: italic;
}
.experiences .experience .toggle-skills {
	font-size: .6em;
	float: right;
}
.experiences .accomplishments li {
	list-style-type: disc;
	margin-left: 2em;
}
.experiences .experience .skills-used-container {
	position: absolute;
	display: none;
	background-color: #EFE4B0;
	border: thin black solid;
	border-radius: 1em;
	-moz-border-radius: 1em;
	padding: 0.5em;
	z-index: 100;
}
.experiences .experience .skills-used-container h2 {
	display: inline;
}
.experiences .experience .skills-used-container ul {
	display: inline;
}
.experiences .experience .skills-used-container ul li {
	border-left: 3px solid black;
	padding: 0 .5em;
	display: inline;
}
.experiences .experience .skills-used-container ul li:first-child {
	border-left: 0;
}
.experiences .experience.show-skills .skills-used-container {
	display: block;
}

@media print {
	#footer, #header, .toggle-skills, .skype-commands {
		display: none;
	}
	a {
		text-decoration: none;
		color: Black;
	}
	.skills-container {
		float: none;
		width: 100%;
	}
	.experiences {
		float: none;
		width: 100%;
	}
	.curved {
		border: 0;
	}
}
